.Container {
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 10px;
}

.Wrapper {
	display: flex;
	flex-direction: column;
	background-color: #c7eaea;
	min-height: 100vh;
}

.SearchAndCreateTaskContainer {
	background-color: #bdbdbd;
	height: 115px;
	display: flex;
	align-items: center;
}

.ContainerMini {
	padding: 0 10px;
	margin: 0 auto;
	width: 1100px;
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
}
