.TodoItem {
	background-color: #d9d9d9;
	padding: 30px 10px;
	font-size: 24px;
	display: flex;
	align-items: center;
}

.ContainerMini {
	width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	gap: 10px;
}

.TitleTodo {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	color: inherit;
}

.TitleTodo:hover {
	color: #e76767;
}

.TextareaTodo {
	background-color: #d1d1d1;
	border: none;
	font-size: 24px;
	height: 500px;
	min-width: 100%;
	max-width: 100%;
	padding: 20px 72px;
}

.InputTodo {
	height: 50px;
	width: 500px;
	background-color: #d1d1d1;
	border: none;
	font-size: 24px;
	padding-left: 10px;
}

.ButtonCreateTodo {
	border: none;
	background-color: #7db9e4;
	height: 50px;
	width: 110px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
}

.TodoReadContainer {
	width: 1100px;
	margin: 0 auto;
	padding: 20px 10px;
}

.TodoReadContainer p {
	word-break: break-all;
	font-size: 24px;
}
