.Header {
	background-color: #e76767;
	height: 128px;
	font-size: 64px;
	color: white;
	display: flex;
	align-items: center;
}

.Container {
	width: 100%;
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}

.Wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
