.app {
	text-align: center;
}

.appHeader {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.containerCalc {
	width: 340px;
	padding: 50px 30px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.inputCalc {
	height: 45px;
	font-size: calc(10px + 2vmin);
	border-radius: 10px;
	background-color: #1c1f24;
	border: none;
	padding: 10px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.wrapper button {
	background-color: rgba(0, 0, 0, 0.3);
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: white;
	font-size: calc(10px + 2vmin);
	border: none;
	border-radius: 50%;
}

.wrapper button:hover {
	background-color: #151516;
	color: lightskyblue;
}

.containerNums {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.containerOperation {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
}

.containerOperation button {
	background-color: rgb(41, 68, 41);
}
